<App>
  <Style>
    <Background>#0000aa</Background>
    <CursorBackground>#000055</CursorBackground>
  </Style>
  <Event type="init" action="MADEMO\App\Controller::initialize" />
  <Event type="timer" period="250" action="MADEMO\App\Controller::preview" />
  <Window title="MaDemonstrator" width="132" height="54" mode="maximized" resizable="true">
    <Screen id="editor" title="Editor" file="editor.xml" />
    <Screen id="presentation" title="Presentation" file="presentation.xml" />
    <Screen id="settings" title="Settings and about" file="settings.xml" />
  </Window>
</App>
