body, .slide {
  font-size: 2.96vh;
  background-color: #111111;
  width: 100%;
}

.slide {
  font-size: 2.96vh;
  text-align: center;
  padding: 0px;
  margin-top: 6vh;
  color: #eeeeee;
  width: 100%;
}

h1 {
  font-size: 6.66vh;
  text-align: center;
  margin: 0px  0px  15vh  0px;
  color: #ffffff;
}

h2 {
  font-size: 4.44vh;
  text-align: left;
  padding: 2vh  2vw;
  color: #ffffff;
  width: 100%;
}

h3 {
  font-size: 3.33vh;
  text-align: left;
  padding: 1vh  3vw;
  color: #ffffff;
  width: 90%;
}

p {
  font-size: 2.96vh;
  text-align: left;
  padding: 0.5vh  3vw;
  width: 90%;
}

ul, ol {
  width: 90%;
  font-size: 2.96vh;
  padding: 0.5vh  3vw;
}

pre, pre code {
  font-size: 2.59vh;
  text-align: left;
  margin: 1vh  1vw;
  padding: 0.5vh  0.5vw;
  background-color: #000088;
  color: #00ffff;
  border-color: #ffffff;
  width: 85%;
}

blockquote {
  font-size: 2.96vh;
  text-align: left;
  background-color: #333333;
  color: #ffffff;
  padding: 1vh  1vw;
  border-color: #ffffff;
  width: 85%;
}

a {
  font-size: 2.96vh;
  color: #8888ff;
}

strong, .emphasized {
  color: #ffff00;
}

p code, li code, .inlinecode {
  color: #00ffff;
}
